.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    width 100%
    height 120px
}

.titleWrapper {
    margin-left: 80px;
}

.text {
    margin-left: 80px;
}

.pTitle {
    normalArialFont(14px)
    opacity: 0.5;
    color: black;
}

.pText {
    normalArialFont(16px)
    font-weight: bold;
    color: black;
}

.productsGrid {
    display flex
    flex-wrap wrap
    flex-direction row
    width 100%
    margin-left: 80px;
    padding 5px
    /*border 1px solid #D7DBDD*/
}

.product {
    flex 0 1 auto
    width 224px
    /*height 164px*/
    position relative
    normalArialFont(14px)
    text-align left
    color #333333
    /*border 1px solid black */
    margin 10px
    padding  20px 30px
}